@import "compass/css3";

body{
  background-color:#5c4084;
  margin:50px;
}
.container{
  background-color:#fff;
  padding:40px 80px;
  border-radius:8px;
}
h1{
  color: #fff;
  font-size:4rem;
  font-weight:100;
  margin:0 0 35px 0;
  background:-webkit-linear-gradient(#fff, #999);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  text-align:center;
}
h4{
  color:#999;
}
